<h1 class=""></h1>
<form class="" action="/addArticle" method="post">
  <label class="" for="Title">Title</label>
  <input class="" type="text" name="Title" id="Title" placeholder="Enter Title" title="At least two letters" required
    autocomplete="off">

  <label class="" for="Image">Image</label>
  <input class="" type="text" name="Image" id="Image" placeholder="Enter Image URL" autocomplete="off">
  
  <label class="" for="Article">Article</label>
  <input class="" type="text" name="Article" id="Article" placeholder="Enter Article" required autocomplete="off">
  <input class="" type="submit" value="Submit" />
</form>