<div class="big-ass-container">
  {{> topstory}}
  {{!-- <div> --}}
    {{#each titles}}
    <div>
      <div class="article-item">
        <div><a href="/ViewArticle/{{this.article_id}}">
            <h2>#{{this.title}}</h2>
          </a>
        </div>
        {{#if this.pic_url}}
        <div><img src="{{this.pic_url}}" alt="{{this.title}} post pic"></div>
        {{/if}}
      </div>
    </div>
    <br/>
    {{/each}}
  {{!-- </div> --}}
</div>