<div class="view-article">

    <h1>{{this.title}}</h1>
    {{#if this.pic_url}}
    <div class="view-article-img"><img src="{{this.pic_url}}" alt="{{this.title}} post pic">
    </div>
    {{/if}}
    <div class="view-article-text">

    <p>{{this.description}}</p>
    </div>
</div>